/* .gramado {
    height: 100vh;
    width: 100vw;
    background-size: 62%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    image-rendering: auto;
    background-image: url('../img/escalacao.jpg');
} */

.container {
    width: 1170px;
    height: 305px;
    margin: auto;
    background: var(---ffffff-branco) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #00000042;
    border-radius: 5px;
    opacity: 1;
    padding: 25px;
}

.select__button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.select_all_not {
    display: flex;
    gap: 25px;
    text-align: left;
    font: normal normal normal 14px/20px Bradesco Sans;
    letter-spacing: 0px;
    color: #CC092F;
    opacity: 1;
}

.alert_critic {
    display: flex;
    width: 194px;
    height: 33px;
    font: normal normal bold 14px/24px Bradesco Sans;
    letter-spacing: 0px;
    color: #A5AAB6;
    background: #E8E9EC;
    border: 1px solid #D2D4DA;
    border-radius: 4px;
}

.alert_critic div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.defaut-active {
    border-radius: 4px;
    background: transparent linear-gradient(180deg, var(---0e81ed-azul-light-) 0%, #2365A7 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #0E81ED 0%, #2365A7 100%) 0% 0% no-repeat padding-box;
    color: #E8E9EC;
}